/*-- scss:defaults --*/
$body-bg: #222222;
$body-color: #cccccc;
$primary: #5cc3d6;
$navbar-bg: #2b2b2b;
$navbar-fg: #cccccc;
$navbar-hl: #5cc3d6;
$title-banner-bg: #2b2b2b;
$title-banner-color: #dddddd;
$footer-bg: #222222;
$border-color: #3a3a3a;
$card-bg: #222222;
$card-border-color: #3a3a3a;
$code-block-bg: #2b2b2b;
$code-bg: #2b2b2b;
$code-color: #e6a0c4;
