/*-- scss:defaults --*/
$body-bg: #ffffff;
$body-color: #212529;
$primary: #0085A1;
$navbar-bg: #eeeeee;
$navbar-fg: #555555;
$navbar-hl: #0085A1;
$title-banner-bg: #eeeeee;
$title-banner-color: #555555;
$footer-bg: #ffffff;
